git rm -r --cached EventBooking.BLL/bin EventBooking.BLL/obj EventBooking.DAL/bin EventBooking.DAL/obj EventBooking.Web/bin EventBooking.Web/obj
git add .gitignore
git commit -m "ignore build output"
git push